/* Styles for the Sonner Toaster */
ol[data-sonner-toaster="true"] {
    display: flex;
    justify-content: flex-end;
  }
  
  /* Toaster Container */
  sonner-toaster {
    gap: 0.5rem;
    padding: 0.5rem 0.7rem;
    width: 16rem;
  }
  
  /* Toaster Icon */
  sonner-toaster svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  /* First Child of Toaster */
  sonner-toaster div:nth-child(1) {
    font-size: 0.75rem;
  }
  
  /* Smaller Toaster Variant */
  sonner-toaster-sm div:nth-child(1) {
    font-size: 0.7rem;
  }
  